<mat-toolbar color="primary">
  <span><img src="../../assets/images/icono-seguridad.png" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/projects"><span class="fa fa-info fa-lg"></span> Projects</a>
  <a mat-button routerLink="/roles"><span class="fa fa-list fa-lg"></span> Roles</a>
  <a mat-button routerLink="/workers"><span class="fa fa-list fa-lg"></span> Workers</a>
  <a mat-button routerLink="/activities"><span class="fa fa-list fa-lg"></span> Activities</a>
</mat-toolbar>

